
body {
    min-height: 100vh;
    background: linear-gradient(#e5f080, #4af16e, #04f3d3)
}

h1 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
}

.game button {
    padding: 10px;
    margin: 5px;
    background-color: #f5dd07;
    font-size: 17px;
}

.game button:hover {
    background-color: #ffbb00;
    cursor: pointer;
    transform: scale(1.2);
}

.center-container {
    display: flex; 
    justify-content: center; 
}

#result {
    background-color: #fffffff6;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    text-align: center;
}

.tie {
    color: black;
}

.win {
    color: green;
}

.loss {
    color: red;
}

